# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# IDE
.idea/
.vscode/

# PostgreSQL / local files
*.sql

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/

# Build
dist/
build/

# Raw external research datasets
data/raw/
